<?xml version="1.0" encoding="UTF-8"?>
<?init class="org.zkoss.zkplus.databind.AnnotateDataBinderInit" ?>
<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
    xmlns:h="http://www.w3.org/1999/xhtml"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">

    <window apply="management.BlankComposer">
        <include mode="defer" src="/index.zul" />
        	<div class="page-header">
				<html>
					<![CDATA[<h1>คำเตือน!!!!<small>ท่านมีสิทธิ์เฉพาะหน้าที่ได้รับอนุญาติจาก Admin เท่านั้น</small></h1>]]>
				</html>
			</div>
    </window>
</zk>