<?page title="คิดเงิน"?>
<zk:bootstrap/>
<zk:grails>
	<include mode="defer" src="/index.zul" />

    <window apply="management.HomeComposer">
        <div align="center">
       		<panel title="คิดเงิน" sclass="panel-primary" style="font-size:28px">
    			<panelchildren>
    			<hbox>
    			<label value="โต๊ะ" style="font-size:38px" />
    			<intbox id="table"  value="0" instant="true"  width="100px" style="font-size:38px"/>
    			<button sclass="btn-warning" id="search" style="font-size:30px" image="/ext/images/icon/Apps-Search-icon.png">ค้นหา</button>
    			</hbox>
                <label value="ยอดรวม" style="font-size:38px" />
                <doublebox id="sumprice" disabled="true" format="#,##0.##" style="font-size:40px;font-weight:bold" />
                <label value="บาท" style="font-size:38px" />
                <button label="จบการขาย" id="finish" image="/ext/images/icon/Save.png" mold="trendy"/>
                <button label="พิมพ์ใบเสร็จ" id="printbill" image="/ext/images/icon/Device-Printer-icon.png" mold="trendy" />
                </panelchildren>
    		</panel>
	

		    <panel title="รายการสั่งทั้งหมด" sclass="panel-danger" style="font-size:28px">
    			<panelchildren>
    				<grid id="listbuy">
                    <columns>
                        <column label="ชื่อสินค้า" align="center" width="50%" />
                        <column label="หน่วยสินค้า" align="center" width="10%" />
                        <column label="จำนวน" align="center" width="22%" />
                        <column label="ราคาต่อหน่วย" align="center" width="22%" />
                        <column label="รวม" align="center" width="20%" />
                        <column align="center" width="7%" />
                    </columns>
                    <rows>
                    </rows>
                </grid>

            <vbox>

                <grid>
                    <columns>
                        <column align="center"  width="50%" />
                        <column align="center"  width="10%" />
                        <column align="center"  width="22%" />
                        <column align="center"  width="22%" />
                        <column align="center"  width="20%" />
                        <column align="center"  width="7%" />
                    </columns>
                    <rows>
                         <row spans="4">
                            <label value="รวมทั้งสิ้น" style="font-size:18px"/>
                            <label value="0" id="sumpricefromlist" style="font-size:18px"/>
                            <label value="บาท" style="font-size:18px"/>
                        </row>
                        <row spans="4">
                            <label value="ส่วนลด" style="font-size:18px"/>
                            <label value="0" id="downpricefromlist" style="font-size:18px"/>
                            <label value="บาท" style="font-size:18px"/>
                        </row>
                       
                    </rows>
                </grid>
            </vbox>
		  </panelchildren>
	   </panel>
	</div>

    </window>
</zk:grails>