<?page title="โปรแกรมบริหารและจัดการร้านอาหาร"?>
<zk:bootstrap/>
<zk:grails>
<bs:navbar brand="โปรแกรมบริหารและจัดการร้านอาหาร" 
    left="[ corder:'สั่งอาหาร',
            home:'คิดเงิน',
            sumbuy:'ยอดขาย',
            employee:'พนักงาน',
            cpass:'เปลี่ยนรหัสผ่าน',
            add:'เพิ่มลดสินค้า',
            stock:'สต๊อกสินค้า',
            setting:'ข้อมูลร้าน/โปรโมชั่น'  
    ]">
  </bs:navbar>
   <style> 
        body{
            background-image:url('ext/images/bg/Strawberries.png');
        }
    </style>
<div>
<h:br/>
<h:br/>
<h:br/>
</div>

    <div align="center">
        <hbox id="statesetting" />
        <h:a href="/management/setting.zul"><label id="pageclick" value="click เพื่อเข้าไปกรอกข้อมูล" visible="false" /></h:a>
    </div>
    <div id="win" align="right" apply="management.IndexComposer">
        <hbox>
            <image src="/ext/images/icon/online.png" class="media-object"/>
            <label value="[" style="color:blue;font-size:15px"/>
            <label id="useronline" style="color:blue;font-size:15px"/>
            <label value="]" style="color:blue;font-size:15px"/>
            <image src="/ext/images/icon/Social.png" class="media-object"/>
            <label value="[" style="color:blue;font-size:15px"/>
            <label id="groupuse" style="color:blue;font-size:15px"/>
            <label value="]" style="color:blue;font-size:15px"/>
            <timer id="timer" delay="1000" repeats="true"/>
            <button id="logout" class="btn btn-default dropdown-toggle" mold="trendy" width="125px" height="30px" label="ออกจากระบบ"  style="color:red;font-size:13px;font-weight:bold"/>  
        </hbox>
    </div>  

    
    <window id="messagealert" visible="false" border="normal" title="เตือนสินค้าใกล้หมด" action="show: slideDown;hide: slideUp">
        <div align="center">
            <vbox>
                <grid id="listalert">
                    <columns>
                        <column align="center" label="ลำดับ" sort="auto" />
                        <column align="center" label="สินค้า" sort="auto" />
                        <column align="center" label="เหลือ" sort="auto" />
                        <column align="center" label="หน่วย" sort="auto" />
                    </columns>
                    <rows>

                    </rows>
                </grid>
            </vbox>
        </div>
    </window>

</zk:grails>