<?page title="โปรแกรมบริหารและจัดการร้านอาหาร"?>
<zk:bootstrap/>
<zk:grails>
    <style> 
        body{
            background-image:url('ext/images/bg/food.jpg');
        }
    </style>
    <h:br />
    <h:br />
    <h:br />
    <h:br />
    <h:br />
    <h:br />
    <h:br />
    <h:br />
    <h:br />
    <h:br />
    <h:br />
    <div align="center">
    <window apply="management.LoginComposer" width="450px" height="220px">
        <div align="center">
            <vbox>
                <panel width="400px">
                <panelchildren>
                    <grid>
                        <columns>
                            <column width="37%"/>
                        </columns>
                        <rows>
                            <row>
                                <label id="เข้าสู่ระบบ" style="font-size:20px;font-weight:bold;color:#660000"/>
                                <label id="status"/>
                            </row>
                            <row>
                                <label value="Username :" style="font-size:20px;font-weight:bold;color:#660000"/>

                                <textbox id="user" placeholder="กรุณากรอกรหหัสผู้ใช้งาน" style="font-size:15px" instant="true" mold="rounded"/>
                            </row>
                            <row>
                                <label value="Password :" style="font-size:20px;font-weight:bold;color:#660000"/>
                                                  
                                <textbox  type="password" id="pass"  placeholder="กรุณากรอกรหัสผ่าน" style="font-size:15px" instant="true" mold="rounded"/>
                            </row>
                        </rows>
                    </grid>
                </panelchildren>
                </panel>
            </vbox>
                <hbox>
                    <button label="Login" id="login" mold="trendy" style="font-size:20px"/>

                    <button label="Clear" id="clear" mold="trendy" style="font-size:20px" />
                </hbox>
        </div>
    </window>
    </div>
</zk:grails>