<?page title="เพิ่ม/แก้ไข สินค้า"?>
<zk:bootstrap/>
<zk:grails>
    <include mode="defer" src="/index.zul" />
    <tabbox id="tb">
    <tabs id="tabs">
        <tab id="A" label="เพิ่มสินค้าใหม่" />
        <tab id="b" label="เพิ่มหมวดสินค้าใหม่" />
    </tabs>
    <tabpanels>
        <tabpanel>
            <window apply="management.NewaddComposer" visible="false">
            <h:br />
            <h:br />
                <div align="center">
                    <grid>
                        <columns>
                            <column label="กรอกข้อมูลสินค้า" align="center" />
                        </columns>
                        <rows>
                        </rows>
                    </grid>
                    <grid id="listnamemode" sclass="GridLayoutNoBorder">
                        <columns>
                            <column align="right" />
                            <column align="left" />
                            <column align="right" />
                            <column align="left" />
                            <column align="right" />
                            <column align="left" />
                        </columns>
                        <rows>
                            <row>
                                <label value="รหัสสินค้า*"/>
                                <textbox id="barcod" instant="true"/>
                                <label value="ชื่อสินค้า*"/>
                                <textbox id="nameproduct"/>
                                <label value="หน่วยสินค้า*"/>
                                <textbox id="txtnameunit"/>  
                            </row>
                            <row>
                                <label value="ราคาขายหน้าร้าน*"/>
                                <hbox>
                                    <doublebox id="pricetoon" format="0.##"/><label value="บาท"/>
                                </hbox>
                                  <label value="หมวดสินค้า*"/>
                                <hbox>
                                    <combobox id="listmode" fulfill="onOpen" placeholder="เลือกหมวดสินค้า"/>
                                </hbox>
                                <label value="หมายเหตุ"/>
                                <hbox>
                                   <textbox id="note"/>
                                </hbox>
                            </row>
                        </rows>
                    </grid>
                    <h:br />
                    <hbox>
                        <button id="save" image="/ext/images/icon/Save.png" mold="trendy" />
                        <button id="cancle" image="/ext/images/icon/Cancle.png" mold="trendy" />
                    </hbox>
                    <h:hr />
                    <label value="ค้นหาตามหมวดสินค้า" />
                    <combobox id="listmode2" fulfill="onOpen" placeholder="เลือกหมวดสินค้า"/>
                    <h:br />
                    <h:br />
                    <grid>
                        <columns>
                            <column label="แสดงรายการสินค้าตามกลุ่ม" align="center"/>
                        </columns>
                        <rows>
                        </rows>
                    </grid>
                    <grid id="listproduct" mold="paging" pageSize="20">
                        <columns>
                            <column align="center" label="รหัสสินค้า" sort="auto" />
                            <column align="center" label="ชื่อสินค้า" sort="auto" />
                            <column align="center" label="หมวดสินค้า" sort="auto" />
                            <column align="center" label="ราคาขายหน้าร้าน" sort="auto" />
                            <column align="center" label="หน่วย" sort="auto" />
                            <column align="center" label="หมายเหตุ" sort="auto" />
                            <column align="center" label="ลบ" sort="auto" />
                        </columns>
                        <rows>

                        </rows>
                    </grid>
                </div>

            </window>
        </tabpanel>
        <tabpanel>
            
        </tabpanel>
    </tabpanels>
</tabbox>
</zk:grails>