<?page title="สต๊อกสินค้า"?>
<zk:bootstrap/>
<zk:grails>
    <include mode="defer" src="/index.zul" />
    <tabbox id="tb">
    <tabs id="tabs">
        <tab id="A" label="เพิ่มสินค้าใหม่" />
        <tab id="b" label="เพิ่มหมวดสินค้าใหม่" />
    </tabs>
    <tabpanels>
        <tabpanel>
    <window apply="management.NewstockComposer" visible="false">
       <h:br />
                <h:br />
                <div align="center">
                    <grid>
                        <columns>
                            <column label="กรอกข้อมูลสินค้า" align="center" />
                        </columns>
                        <rows>
                        </rows>
                    </grid>
                    <grid id="listnamemode" sclass="GridLayoutNoBorder">
                        <columns>
                            <column align="right" />
                            <column align="left" />
                            <column align="right" />
                            <column align="left" />
                            <column align="right" />
                            <column align="left" />
                        </columns>
                        <rows>
                            <row>
                                <label value="หมวดสินค้า*" />
                                <combobox id="listmode" fulfill="onOpen" placeholder="เลือกหมวดสินค้า"/>
                                <label value="รหัสสินค้า*"/>
                                <textbox id="barcod" instant="true"/>
                                <label value="ชื่อสินค้า*"/>
                                <textbox id="nameproduct"/>
                            </row>
                            <row>
                                <label value="หน่วยสินค้า*"/>
                                <textbox id="txtnameunit"/> 
                                <label value="ราคาต้นทุน*"/>
                                <hbox>
                                    <doublebox id="pricetoon" format="0.##"/><label value="บาท"/>
                                </hbox>
                                <label value="จำนวน*"/>
                                <hbox id="addcount">
                                    <intbox id="countproduct" instant="true"/>
                                </hbox>
                            </row>
                            <row>
                                <label value="วันที่นำเข้า*"/>
                                <datebox id="dateimport" locale="TH" format="dd/MM/yyyy" placeholder="เลือกวันที่นำเข้า"/>
                                <label value="วันหมดอายุ*"/>
                                <datebox id="extdat" locale="TH" format="dd/MM/yyyy" placeholder="เลือกวันหมดอายุ"/>
                                <label/>
                                <label/>
                            </row>
                        </rows>
                    </grid>
                    <h:br />
                    <hbox>
                        <button id="save" image="/ext/images/icon/Save.png" mold="trendy" />
                        <button id="cancle" image="/ext/images/icon/Cancle.png" mold="trendy" />
                    </hbox>
                    <h:hr />
                    <label value="ค้นหาตามหมวดสินค้า" />
                    <combobox id="listmode2" fulfill="onOpen" placeholder="เลือกหมวดสินค้า"/>
                    <h:br />
                    <h:br />
                    <grid>
                        <columns>
                            <column label="แสดงรายการสินค้าตามกลุ่ม" align="center"/>
                        </columns>
                        <rows>
                        </rows>
                    </grid>
                    <grid id="listproduct" mold="paging" pageSize="20">
                        <columns>
                            <column align="center" label="รหัสสินค้า" sort="auto" />
                            <column align="center" label="ชื่อสินค้า" sort="auto" />
                            <column align="center" label="หมวดสินค้า" sort="auto" />
                            <column align="center" label="ราคาต้นทุน" sort="auto" />
                            <column align="center" label="จำนวน" sort="auto" />
                            <column align="center" label="วันที่นำเข้า"  />
                            <column align="center" label="วันหมดอายุ"  />
                            <column align="center"  />
                        </columns>
                        <rows>
                        </rows>
                    </grid>
                </div>

            </window>
        </tabpanel>
        <tabpanel>
            
        </tabpanel>
    </tabpanels>
</tabbox>
            <window id="windowpop" visible="false" title="เพิ่มจำนวนสินค้า" border="normal">
                <vbox>
                    <label value="กรุณาเพิ่มจำนวนสินค้าค่ะ"/>
                    <hbox>
                        <intbox id="newcountpro" value="0" />
                        <button id="savenewcount" label="OK" />
                    </hbox>
                </vbox>
            </window>

            <window id="discount" visible="false" title="ลดจำนวนสินค้า" border="normal">
                <vbox>
                    <label value="กรุณาลดจำนวนสินค้าค่ะ"/>
                    <hbox>
                        <intbox id="disnewcount" value="0" />
                        <button id="savedisnew" label="OK" />
                    </hbox>
                </vbox>
            </window>
</zk:grails>