<?page title="Promotion"?>
<zk:bootstrap/>
<zk:grails>
    <include mode="defer" src="/index.zul" />
    <tabbox id="tb">
        <tabs id="tabs">
            <tab id="A" label="สร้างโปรโมชั่น" />
            <tab id="setting" label="กรุณากรอกรายละเอียดของร้าน" />
        </tabs>
        <tabpanels>
            <tabpanel>
    <window apply="management.PromotionComposer" visible="false">

       <div align="center" >
                        <grid>
                            <columns>
                                <column label="กำหนดยอดเงินที่ได้รับส่วนลด" align="center"/>
                            </columns>
                            
                            <rows>
                                <row>
                                    <image src="/ext/images/icon/Calendar-icon.png" class="media-object"/>
                                    <label value="วันหมดอายุของโปร" />
                                    <datebox id="extdaypro" locale="TH" format="dd/MM/yyyy"/>
                                    <image src="/ext/images/icon/Female-user-edit-icon.png" class="media-object"/>
                                </row>
                                <row>
                                    <image src="/ext/images/icon/shopping-icon.png" class="media-object"/>
                                    <label value="รับสิทธ์เมื่อยอดถึง" />
                                    <hbox>
                                        <intbox id="bathpro" instant="true"/>
                                        <label value="บาท"/>
                                    </hbox>
                                     <image src="/ext/images/icon/Female-user-edit-icon.png" class="media-object"/>
                                </row>
                                <row>
                                <image src="/ext/images/icon/discount-icon.png" class="media-object"/>
                                        <label value="เงินส่วนลด" />
                                        <hbox>
                                            <intbox id="dispro" instant="true"/>
                                            <label value="%"/>
                                    </hbox>
                                 <image src="/ext/images/icon/Female-user-edit-icon.png" class="media-object"/>
                                </row>
                            </rows>
                        </grid>
                        
                        <h:br />
                            <button id="savepro" label="บันทึก" image="/ext/images/icon/Save.png" mold="trendy" />
                            <button id="clearpro" label="ยกเลิก" image="/ext/images/icon/Cancle.png" mold="trendy" />
                    </div>

    </window>
        </tabpanel>
            <tabpanel>
                
            </tabpanel>
        </tabpanels>
    </tabbox>

</zk:grails>