<?page title="ข้อมูลร้าน"?>
<zk:bootstrap/>
<zk:grails>

    <include mode="defer" src="/index.zul" />
    <tabbox id="tb">
        <tabs>
            <tab id="A" label="กรุณากรอกรายละเอียดของร้าน" />
            <tab id="card" label="จัดโปรโมชั่น" />
        </tabs>
        <tabpanels>
            <tabpanel>
    <window apply="management.SettingComposer">

        <grid>
            <columns>
                <column label="กรอกรายละเอียดเกี่ยวกับร้าน" align="center" />
            </columns>
        

            <rows>
                <row>
                    <label value="ชื่อร้าน" />
                    <textbox id="company" width="500px" instant="true" />
                </row>
                <row>
                    <label  value="สถานที่ตั้ง" />
                    <textbox id="address" width="500px" instant="true" />
                </row>
                <row>
                    <label  value="เลขประจำตัวผู้เสียภาษี" />
                    <textbox id="vatnum" width="500px" instant="true" />
                </row>
            </rows>
        </grid>
        <div align="center">
                <n:p>สำคัญ!!! อัพได้เฉพาะสกุลไฟล์ต่อไปนี้.jpg , .png , .jpeg เท่านั้น</n:p>
            <hbox>
                <button id="upload" label="Upload Image" upload="true,maxsize=300"/> 
            </hbox>
            <h:br />
            <image id="imageupload" />
            <h:br />
            <h:br />
            <hbox align="center">
                <button id="save" label="บันทึก" image="/ext/images/icon/Save.png" mold="trendy" />
                <button id="clear" label="ยกเลิก" image="/ext/images/icon/Cancle.png" mold="trendy" />
            </hbox>
        </div>
                </window>
            </tabpanel>
            <tabpanel>
                
            </tabpanel>
        </tabpanels>
    </tabbox>
</zk:grails>